# Ignore output directory and JSON files
/output/
*.json

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
venv/
env/
*.egg-info/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
*.bak

# Ignore OS-specific files (macOS, Windows)
.DS_Store        # macOS
Thumbs.db        # Windows

# Ignore IDE-specific files
.idea/           # JetBrains IDEs (e.g., PyCharm, IntelliJ)
.vscode/         # Visual Studio Code
*.sublime-workspace  # Sublime Text
*.sublime-project   # Sublime Text
*.vscode/

# Ignore test output
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
*.tox/
